
 <div class="container">
 	
	<div class="hero-unit">
	        <h1>Dashboard</h1>
	        <p>Some text here.</p>
	        <% if user_signed_in? %>
					<%= link_to "Create ticket", new_post_path, class:"btn btn-primary btn-large" %>
				<% else %>
				<div class="page-header">
					<h1>Register now to create a ticket!</h1>
				</div>
			<% end %>
			
	</div> 



		<div class="row">
			<% @posts.each do |post| %>
		       
		       <% if post.category.title == "FEATURES" %>
		        	<div class="span4-a">
		       <% else %>
		       	 	<div class="span4-b">	
		       <% end %>	
		        	
		        	
		         <p class="lead"><%= post.title %></p>
		          <%= time_ago_in_words(post.created_at) + " ago" %>
		      
		        <% if post.category.title == "FEATURES" %>
		        	<%= link_to "Open for Details »", post_path(post), class:"btn btn-info" %><br />
		       <% else %>
		       	 	<%= link_to "Open for Details »", post_path(post), class:"btn btn-warning" %><br />
		        <% end %>
		        	
		        	
		           <p><% post.namekey %></p>
		          <p> Status: <%= post.status.title %></p>
		           <p> Category: <%= post.category.title %></p>
		           
		           <%= image_tag post.user.pic.url(:thumb) %><b> By: <%= post.user.full_name %></b> <br />
		          <p><%= post.description %><br /></p>
		         
		         <p>Members:<br/>
		           	
						 <%	user_array = Array.new %>
						 	<% @assignment_record.each do |ar| %>
						 		<% if ar.post_id == post.id%>
						 			<% user_array<<ar.user_id %>
						 		<% end %>	
						 	<% end %>
		 				 
						 	<% @user_record.each do |ur| %>
			    				<% user_array.each do |ua| %>
			    					<% if ur.id == ua %>
			    						<%= image_tag("/system/pics/#{ur.id}/thumb/#{ur.pic_file_name}", :alt => "") %> <%=  ur.full_name%><br /><br />
			    				<%	end %>
			    				<% end %>
			    			<% end %>
	    			</p>
		         
		         
			       <div class="meta">
								
										<span class="admin">
												| <%= link_to "Show", post_path(post) %> |
												<%= link_to "Edit", edit_post_path(post) %> |
												<%= link_to "Delete", post, method: :delete, data: { confirm: "Are you sure you want to delete this status?"}%> |
										</span>		
					</div>
	       
       			 </div>
       		<% end %>	 
		</div>
	
		   		
		   		
	
	





<br />

</div>
