

<p>
  <h3>Title:</3>
  <%=h @post.title %>
</p>
<p class="lead">
<b>Assigned Users:</b>
				 <%	user_array = Array.new %>
				 	<% @assignment_record.each do |ar| %>
				 		<% if ar.post_id == @post.id%>
				 			<% user_array<<ar.user_id %>
				 		<% end %>	
				 	<% end %>
 				 	
				 	<% @user_record.each do |ur| %>
	    				<% user_array.each do |ua| %>
	    					<% if ur.id == ua %>
	    						<%= image_tag("/system/pics/#{ur.id}/thumb/#{ur.pic_file_name}", :alt => "") %><%=  ur.full_name%>&nbsp;
	    				<%	end %>
	    				<% end %>
	    			<% end %>
</p>	    			
<p class="lead">
 Description: "<%=h @post.description %>" <br /><br />
Author:  <%= image_tag @post.user.pic.url(:thumb) %><b> <%= @post.user.full_name %></b> <br />
</p>

<h4>Comments: </h4>

<% @post.comments.each do |c| %>
<div class="status1">
	
	    <%	name = ''
	    		pic_path = '' 
	    		@user_record.each do |u|
	    			if c.user_id == u.id
	    				name=u.full_name
	    				pic_path = u.pic_file_name
	    			end
	    		end
	    	
	    	 %>
	    	 
	    	 <%= image_tag("/system/pics/#{c.user_id}/thumb/#{pic_path}", :alt => name) %>
	    	<%= time_ago_in_words(c.created_at) %> ago
		  	 <b><%= name%> said: </b><%=h c.message %>
			
	  	
			
		
		
		  
		 
	 
</div>	
  
<% end %>

<%= form_for [@post, Comment.new] do |f| %>
<div class="status">
	<%= f.hidden_field :user_id, :value=>current_user.id%>
    <%= f.text_area :message, :rows=> "3" %><br />

     <%= f.submit "Add Comment" %>
 </div>

  
  

<% end %>
