<p>
  <h3>Title:</3>
  <%=h @post.title %>
</p>

<p class="lead">
 Description: "<%=h @post.description %>" <br />
Author:  <%= image_tag @post.user.pic.url(:thumb) %><b> <%= @post.user.full_name %></b> <br />
</p>

<h4>Comments: </h4>

<% @post.comments.each do |c| %>
<div class="status1">
	  <div class="status-inner-comment">
	    <b><%= #h c.name 
	    	%> said:</b><br />
	   	<%= time_ago_in_words(c.created_at) %> ago 
	  
		  <p>
		    <%=h c.message %>
		  </p>
	
	  </div>
</div>	
  
<% end %>

<%= form_for [@post, Comment.new] do |f| %>
<div class="status">

    <%= f.text_area :message, :rows=> "3" %><br />

     <%= f.submit "Add Comment" %>
 </div>

  
  

<% end %>