

<p>
  <h3>Title:</3>
  <%=h @post.title.upcase %>
</p>
<p class="lead">
 "<i><%=h @post.description %></i>" <br /><br />	    			
</p>

<h4>Comments: </h4>

<% @post.comments.each do |c| %>
<div class="status1">
	
	    <%	name = ''
	    		pic_path = '' 
	    		@user_record.each do |u|
	    			if c.user_id == u.id
	    				name=u.full_name
	    				pic_path = u.pic_file_name
	    			end
	    		end
	    	
	    	 %>
	    	 <div class="user-cont">
	    	 <%= image_tag("/system/pics/#{c.user_id}/thumb/#{pic_path}", :alt => name) %>
	    	
	    	 <% time_ago_in_words(c.created_at) %> 
			  <b><%= name%>:</b>
			 </div>
	    	 <div class="message-cont">
		    	<%=h c.message %>
			</div>
	
</div>	
  
<% end %>

<%= form_for [@post, Comment.new] do |f| %>
<div class="status">
	<%= f.hidden_field :user_id, :value=>current_user.id%>
    <%= f.text_area :message, :rows=> "3", :placeholder => "Your message here..."%><br />

     <%= f.submit "Add Comment", :class => "btn btn-inverse" %>
     
 </div>
<% end %>
<div class="status">
<p>

				Members: 
				 <%	user_array = Array.new %>
				 	<% @assignment_record.each do |ar| %>
				 		<% if ar.post_id == @post.id%>
				 			<% user_array<<ar.user_id %>
				 		<% end %>	
				 	<% end %>
 				 	
				 	<% @user_record.each do |ur| %>
	    				<% user_array.each do |ua| %>
	    					<% if ur.id == ua %>
	    						<div class="modal-user-con"><%= image_tag("/system/pics/#{ur.id}/thumb/#{ur.pic_file_name}", :alt => "") %> <%=  ur.full_name%></div>
	    				<%	end %>
	    				<% end %>
	    			<% end %>
</p>
</div>

