<%= form_for(@category) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%
      s_li = Array.new
      if @cat.empty?
      s_li = [["Bug", "Bug"], ["Features", "Features"]]
      else
      @cat.each do |s|
       if s.id == 2 
        s_li = [["Features", "Features"]]
       elsif s.id == 1
        [["Bug", "Bug"]]
       end
      end
    end
   %>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.select :title, s_li %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
